extends layout

block content
    h2 #{doctor.fullname}
    div
        h4 Physician Information
        ul.doc-info
            li FullName: #{doctor.fullname}
            li Accepting new Patients: #{doctor.new_patients}
            li Speciality/Category: #{doctor.category}
            li Experience: #{doctor.experience} Yrs
            li Clinic-Name: #{doctor.clinic_name}
    div  
        h4 Practice Information
        ul.practice-info
            li Clinic Name: #{doctor.clinic_name}
            li Address: #{doctor.local_address} #{doctor.city} #{doctor.state}(#{doctor.pin})
    br
    br
    a(href="/doctors") &lt; Go Back