extends layout

block content
    h2 Browse Doctors
    ul.docs
        if doctors != false
            each doctor, i in doctors
                li
                    h3 #{doctor.fullname}
                    p Speciality: #{doctor.category}
                    p Location: #{doctor.local_address},#{doctor.city}, #{doctor.state} (#{doctor.pin})
                    p
                        a(href="/doctors/details/#{doctor.doc_id}") &gt; Details
        else
            | Sorry.. No Doctors Listed.
            
        